<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheet/login.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="form-container">
      <h1>Login</h1>
      <form action="/loginAccount" method="POST">
        <label for="login-username">Username:</label>
        <input type="text" id="login-username" name="login_username" placeholder="Enter your username" required />

        <label for="login-password">Password:</label>
        <input type="password" id="login-password" name="login_password" placeholder="Enter your password" required />

        <p>Don't have an account? Register <a href="/register">here</a>!</p>
        <button type="submit" style="margin-top: 10px">Login</button>
      </form>
    </div>
  </body>
</html>
